.bckg-black {
    background-color: black;
}

.padding-top {
    padding-top: 300px;
}
/* jumbotron */
.bckg-img {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
    background-size: cover;
}

.text {
    color: white;
    font-size: 20px;
    text-align: center;
}

.orange-button {
    color: white;
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    padding: 20px;
    border-radius: 30px;
}

/* layout img */
.contain {
    max-height: 100px;
    border-radius: 20px;
}
/* mediaquery img */
@media  screen and (max-width:990px) {
    .contain {
        margin-bottom: 10px;
    }
}

/* playstation 5 */
#blue {
    color: blue;
}

.grey {
    color: grey;
}

.margin-top {
    margin-top: 50px;
}

#ps5-button {
    color: white;
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.resize-img {
    max-width: 100%;
    max-height: 100%;
}

.ps5-thumb {
    max-height: 150px;
    text-align: center;
}

/* it takes-two */
.it-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    max-width: 100%;
    height: 675px;
    background-size: contain;
}