.bckg-black {
    background-color: black;
}

.padding-top {
    padding-top: 300px;
}

.padding {
    padding: 200px 0 100px 0;

}

.white {
    color: white;
    font-size: 18px;
}
.center {
    text-align: center;
}

.margin-left {
    margin-left: 30px;
}
/* jumbotron */
.bckg-img {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.text {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

.orange-button {
    color: white;
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    padding: 20px;
    border-radius: 30px;
}

/* layout img */
.contain {
    max-height: 100px;
    border-radius: 20px;
}


/* playstation 5 */
#blue {
    color: blue;
}

.grey {
    color: grey;
}

.margin-top {
    margin-top: 50px;
}

.blue-button {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.resize-img {
    max-width: 100%;
    max-height: 100%;
}

.ps5-thumb {
    max-height: 150px;
    text-align: center;
}

/* it takes-two */
.it-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* giochi disponibili */
.bckg-game {
    background-color: black;
}

.game-img {
    max-height: 180px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.game-text {
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}

.title {
    text-align: center;
    font-size: 40px;
}

.sub-title{
    display: block;
    color: grey;
    font-size: 20px;
}

.ps4-img {
    max-height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* playstation plus */
.bckg-plus {
    margin: 100px 0;
    background-color: lightgrey;
    height: 800px;
}

.ps-plus {
    padding-top: 200px;
    /* padding-left: 50px; */
}

.ps-plus-logo {
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 50px;
}

.ps-plus-img {
    max-height: 100%
}

/* ps-store */

.ps-store-img {
    max-height: 400px;
}

/* ps now */
.bckg-now {
    background-color: rgb(32, 12, 122);
    height: 800px;
}

#ps-now-logo {
    max-height: 150px;
}

#text-now {
    color: white;
    font-size: 18px;
}

.social-img {
    max-height: 200px;
}








/* media screen */

/* mediaquery md */
@media screen and (max-width:990px) {
    /* jumbo */

    .bckg-img {
        
    }

    .contain {
        margin-bottom: 10px;
    }

    .ps4-img {
        max-height: 150px;
        object-fit: contain;
    }

    .ps-store-img {
        max-height: 300px;
    }

    .social-img {
        max-height: 170px;
    }
}

/* mediaquery sm */
@media screen and (max-width: 762px) {
    .media-center {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-img {
        max-height: 120px;
    }
}


/* mediaquery xs */
@media screen and (max-width: 575px) {

    .social-img {
        max-height: 200px;
    }
}





