.bckg-black {
    background-color: black;
}
/* jumbotron */
.bckg-img {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
    background-size: cover;
}

.text {
    color: white;
    font-size: 20px;
}
/* layout img */
.contain {
    max-height: 100px;
    border-radius: 20px;
}
/* mediaquery img */
@media  screen and (max-width:990px) {
    .contain {
        margin-bottom: 10px;
    }
}

/* playstation 5 */
#blue {
    color: blue;
}

#grey {
    color: grey;
}